<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
<!--     		<p>
          I learnt to program in GWBasic - my first programming language - in 1997, but didn't start to code professionally (in a commercial context) until 2000. Since then, I've played various roles in the broad areas of software development and (more recently) digital product development.
        </p>
        <p>
          These roles have ranged from analysis, design, architecture, engineering, post-engineering review, integration, deployment, support (technical as well as non-technical), management, leadership and coaching of various digital product teams (spanning in commercial value from (small) 10,000-USD-per-annum products to (medium-size) 5m-USD-per-annum products).
        </p>
        <p>          
          Having achieved some degree of success (?) over the last 20 years, my goal for the next 20, is to nurture (coach, mentor, inspire) the next generation of tech talent.
        </p>
 -->        <p style="text-align:justify">          
  My 20-year goal - starting from 2020 - is to nurture (coach, mentor, inspire) the next generation of tech talent.
 </p>
 <p style="text-align:justify">
  To this end, I currently coach product teams, technology teams, and startup teams across the globe. Working through global technology-innovation hubs such as the Founder Institute, Impact Hub, BridgeForBillions, VC4Africa and Innovation Support Network, sometimes this coaching manifests as an Agile Coach, and other times as Product Coach, Engineering Coach, Developer Advocate or Technical Evangelist.
        </p>
        <p style="text-align:justify">          
          If you'd like to discuss what I could do for your team, how I could add value to your product-development effort, or a mutually-beneficial collaboration, then let's chat:
        </p>
        <p style="text-align:justify">
          <ul>
            <li>
              LinkedIn: <a href="https://www.linkedin.com/in/idowuakinde/">https://www.linkedin.com/in/idowuakinde</a>
            </li>
            <li>
              Medium: <a href="https://medium.com/@idowuakinde/">https://medium.com/@idowuakinde</a>
            </li>
            <li>
              StackOverflow: <a href="https://www.stackoverflow.com/story/idowuakinde/">https://www.stackoverflow.com/story/idowuakinde</a>
            </li>
            <li>
              Youtube: <a href="https://www.youtube.com/idowuakinde/">https://www.youtube.com/idowuakinde</a>
            </li>
            <li>
              Teachable: <a href="https://www.teachable.com/idowuakinde/">https://www.teachable.com/idowuakinde</a>
            </li>
          </ul>        
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li style="text-align:justify">
            2021 | <b>MVPLab</b>:
            <hr length="3 px" style="text-align:left">
            Launched MVPLab - an impact-driven, global product co-creation service designed to accelerate technology innovation across the globe.
    			</li>
    			<li style="text-align:justify">
            2020 | <b>Genesys Tech Hub</b>:
            <br><br>
            Facilitated a 5-Day Product Development Bootcamp - covering everything from Agile (Scrum, Kanban, TDD, BDD) to Story Mapping, Release Mapping, Vertical Slicing, Agile Working Agreements (Definition of Done, Definition of Ready, etc) and many more ancillary topics.
    			</li>
    			<li style="text-align:justify">
            2020 | <b>Hyperledger</b>:
            <br><br>
            Led the establishment of the Hyperledger Africa Chapter, effectively multiplying the impact of individual country representatives across 54 countries on the continent.
    			</li>
    			<li style="text-align:justify">
            2020 | :
            <br><br>
            <ul>
              <li>
                <b>Founder Institute</b>: Mentored startups in 3 cohorts, with a special focus on Product Development and Funding/Equity.
              </li>
              <li>
                <b>Impact Hub</b>: Participated in the "New Economy Booster" programme as a Business Mentor, in collaboration with BridgeForBillions.
              </li>
              <li>
                <b>VC4Africa</b>: Assumed mentorship role for a few tech startups.
              </li>
              </li>
            </ul>
    			</li>
    			<li style="text-align:justify">
            2020 | :
            <br><br>
            
    			</li>
          <li style="text-align:justify">
            2019 | <b>FirstBank Digital Lab</b>:
            <br><br>
            Raised the Lab's Agile Maturity Level, from Level 0 to Level 1 in 6 months.
          </li>
          <li style="text-align:justify">
            2017-2019 | <b>Serve Consulting</b>:
            <br><br>
            Raised the Innovation Team's Agile Maturity Level, from Level 0 to Level 2 in 24 months. Assisted Innovation Team to acquire new mindset and behaviours.
    			<li style="text-align:justify">
            2015-2017 | <b>Tenece Professional Services</b>:
            <br><br>
            Raised the Engineering Team's Agile Maturity Level, from Level 0 to Level 2 in 24 months. Coached the Engineering Team on quality-improvement processes as well as hard technical skills.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
