<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
<!--     		<p>
          I learnt to program in GWBasic - my first programming language - in 1997, but didn't start to code professionally (in a commercial context) until 2000. Since then, I've played various roles in the broad areas of software development and (more recently) digital product development.
        </p>
        <p>
          These roles have ranged from analysis, design, architecture, engineering, post-engineering review, integration, deployment, support (technical as well as non-technical), management, leadership and coaching of various digital product teams (spanning in commercial value from (small) 10,000-USD-per-annum products to (medium-size) 5m-USD-per-annum products).
        </p>
        <p>          
          Having achieved some degree of success (?) over the last 20 years, my goal for the next 20, is to nurture (coach, mentor, inspire) the next generation of tech talent.
        </p>
 -->        <p style="text-align:justify">          
  My 20-year goal - starting from 2020 - is to nurture (coach, mentor, inspire) the next generation of tech talent.
 </p>
 <p style="text-align:justify">
  To this end, I currently coach product teams, technology teams, and startup teams across the globe. Working through global technology-innovation hubs such as the Founder Institute, Impact Hub, BridgeForBillions, VC4Africa and Innovation Support Network, sometimes this coaching manifests as an Agile Coach, and other times as Product Coach, Engineering Coach, Developer Advocate or Technical Evangelist.
        </p>
        <p style="text-align:justify">          
          If you'd like to discuss what I could do for your team, how I could add value to your product-development effort, or a mutually-beneficial collaboration, then let's chat:
        </p>
        <p style="text-align:justify">
          <ul>
            <li>
              LinkedIn: <a href="https://www.linkedin.com/in/idowuakinde/">https://www.linkedin.com/in/idowuakinde</a>
            </li>
            <li>
              Medium: <a href="https://medium.com/@idowuakinde/">https://medium.com/@idowuakinde</a>
            </li>
            <li>
              StackOverflow: <a href="https://www.stackoverflow.com/story/idowuakinde/">https://www.stackoverflow.com/story/idowuakinde</a>
            </li>
            <li>
              Youtube: <a href="https://www.youtube.com/idowuakinde/">https://www.youtube.com/idowuakinde</a>
            </li>
            <li>
              Teachable: <a href="https://www.teachable.com/idowuakinde/">https://www.teachable.com/idowuakinde</a>
            </li>
          </ul>        
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Conducted Viability and Progress reviews on a few startups and small businesses anchored to the Lagos Chapter of the (global) Impact Hub Network.
            <br><br>
            <a href="https://www.linkedin.com/feed/update/urn:li:activity:6743033741867814912/">More...</a>
    			</li>
          <li>
            Featured as a mentor on the "How To Gain Traction For Your Product" session organized by the Founder Institute Lagos for their incoming Lagos Virtual 2021 cohort.
            <br><br>
            Presented a few slides about the journey of entrepreneurship, as well as ancillary topics such as The Startup Roadmap, Problem/Solution Fit, Product/Market Fit, Scale/Growth, Prototyping, TAM/SAM/SOM, and others.
            <br><br>
            <a href="https://www.linkedin.com/feed/update/urn:li:activity:6742194144908734464/">More...</a>
          <li>
            Automated test automation in ramp-up to large data center migration, saving hundreds of developer hours.
    			<li>
            Presented "Understanding the GIL to Prevent Race Conditions" at RubyConf 2016.
    			</li>
    			<li>
            Awarded patent for novel approach to item normalization in 3rd party catalog data feeds.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
