<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>My Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Blockchain</b>. I'm - quite literally - fascinated by the potential of business-oriented blockchain to rewrite global technology infrastructure, particularly in the developing world (like African countries) where such infrastructure is virtually non-existent. The business benefits of blockchain include trust (facilitated through immutability, transparency and traceability), efficiency and security.
			  </li>
			  <li>
				  <b>Cybersecurity</b>. 21st-century human life is probably unimaginable without technology. Yet, not a day passes without a significant news report covering a new cyber breach. I have a few ideas about how we might go about addressing this shortfall.
			  </li>
			  <li>
				  <b>Virtual Reality</b>. Having been a somewhat-ardent "first-person" game fanatic since childhood and having experienced immersive VR technology firsthand, I believe strongly that eXtended Reality (the combination of Virtual Reality, Augmented Reality and Mixed Reality) will play a huge part in the future of how humanity acquires skills (aka education).
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Media Mentions</h3>
		  <ul>
			<li style="text-align:justify">
				Invited to discuss "Leveraging Data Management for Economic Recovery" on a live Business TV show.
				<br><br>
				<a href="https://www.linkedin.com/feed/update/urn:li:activity:6751805451261771776/">More...</a>
			</li>
			<li style="text-align:justify">
				Conducted Viability and Progress reviews on a few startups and small businesses anchored to the Lagos Chapter of the (global) Impact Hub Network.
				<br>
				<a href="https://www.linkedin.com/feed/update/urn:li:activity:6743033741867814912/">More...</a>
			</li>
			<li style="text-align:justify">
				Featured as a mentor on the "How To Gain Traction For Your Product" session organized by the Founder Institute Lagos for their incoming Lagos Virtual 2021 cohort.
				<br><br>
				Presented a few slides about the journey of entrepreneurship, as well as ancillary topics such as The Startup Roadmap, Problem/Solution Fit, Product/Market Fit, Scale, Growth, Prototyping, TAM/SAM/SOM, and others.
				<br><br>
				<a href="https://www.linkedin.com/feed/update/urn:li:activity:6742194144908734464/">More...</a>
			</li>
			<li>
				Shared a few thoughts on the steps being taken by the NITDA (Nigeria Information-Technology Development Agency) to prepare the nation for the ongoing Fourth Industrial Revolution (4IR).
				<br><br>
				<a href="https://www.linkedin.com/feed/update/urn:li:activity:6739099516831584256/">More...</a>
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li style="text-align:justify">
				District ICT Committee Member at the Lions Club International
  			</li>
  			<li style="text-align:justify">
				Membership Chairperson, Lions Club International
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
